<form class="form-inline">
	<span class="lead pull-right">
		<%= @child_fatalities.count %> <%= 'Record'.pluralize(@child_fatalities.count) %>
	</span>
	<%= jumper(:year) -%>
	<%= jumper(:causal) -%>
	<%= jumper(:age) -%>
	<%= jumper(:gender) -%>
	<%= link_to 'Clear', child_fatalities_path, class: 'btn btn-warning btn-sm', data: {confirm: 'Clear all Filters?'} -%>
</form>
