<header class="page-header">
	<h1>
		<%#= @page_title -%>
		<small>Hillsborough Child Fatalities</small>
	</h1>

	<%= render 'child_fatalities/partials/filters' -%>
</header>

<p id="notice"><%= notice %></p>

<p class="small text-right">
	Last Updated: <%= @child_fatalities.last_updated.to_formatted_s(:long) if @child_fatalities.any? -%>
</p>

<%= render 'child_fatalities/partials/charts' -%>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Death</th>
				<th>Gender</th>
				<th>Age</th>
				<th>Causal</th>
				<th>Narrative</th>
			</tr>
		</thead>

		<tbody>
			<% @child_fatalities.each do |child_fatality| %>
			<tr>
				<td><%#= link_to fa_icon('info-circle fw'), url_for(child_fatality), class: 'btn btn-default btn-sm' %></td>
				<td><%= link_to child_fatality.dod, params.merge(year: child_fatality.dod.year).permit! %></td>
				<td><%= link_to child_fatality.gender, params.merge(gender: child_fatality.gender).permit! %></td>
				<td><%= link_to child_fatality.age , params.merge(age: child_fatality.age).permit! %></td>
				<td><%= link_to child_fatality.causal, params.merge(causal: child_fatality.causal).permit! %></td>
				<td><%= truncate child_fatality.narrative %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<p class="small text-right">
	Last Updated: <%= @child_fatalities.last_updated.to_formatted_s(:long) if @child_fatalities.any? -%>
</p>

<script type="text/javascript">
	<%= render partial: 'child_fatalities/partials/script', formats: [:js] -%>
</script>
