<p id="notice"><%= notice %></p>

<p>
  <strong>Dod:</strong>
  <%= @child_fatality.dod %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @child_fatality.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @child_fatality.age %>
</p>

<p>
  <strong>County:</strong>
  <%= @child_fatality.county %>
</p>

<p>
  <strong>Priorchild:</strong>
  <%= @child_fatality.priorChild %>
</p>

<p>
  <strong>Priorverchild:</strong>
  <%= @child_fatality.priorVerChild %>
</p>

<p>
  <strong>Priortwelve:</strong>
  <%= @child_fatality.priorTwelve %>
</p>

<p>
  <strong>Priorfive:</strong>
  <%= @child_fatality.priorFive %>
</p>

<p>
  <strong>Priorfiveservices:</strong>
  <%= @child_fatality.priorFiveServices %>
</p>

<p>
  <strong>Causal:</strong>
  <%= @child_fatality.causal %>
</p>

<p>
  <strong>Narrative:</strong>
  <%= @child_fatality.narrative %>
</p>

<%#= link_to 'Edit', edit_child_fatality_path(@child_fatality) %>
<%= link_to 'Back', child_fatalities_path %>
